.container {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 12.5%;
  margin-left: 12.5%;
  width: 75%;
  background-color: #000;
  margin-top: 0.5%;
}

.header {
  margin-top: 4%;
}

.sub-sections p {
  font-size: 1.5em;
}

.sub-sections h4 {
  font-size: 2em;
}

#services img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  margin-top: 20px;
}

body {
  background-image: url("../images/background/cargo-lighting-clubnight-haze-dj.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* margin: 5% 25% 5% 25%; */
  color: #ccc;
  font-weight: 100;
}

.intro p, .contact p {
  background-color: transparent;
  text-align: center;
  font-size: 2em;
  color: white;
  padding: 30px;
  padding-bottom: 50px;
}

.intro h6, .contact h6 {
  font-size: 3em;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.contact .social {
  background-color: #000;
  opacity: 0.77;
}

.contact .social {
  padding: 10px 0px;
}

.social img {
  padding: 0px 20px;
  width: 77px;
}


.panel {
  border:0px;
  margin-bottom: 0;
  border-radius: 0px;
  background: none;
}

.panel-heading {
  padding: 0px 0px;
  border: 0px;
  border-radius: 0px;
}

.panel-title {
  font-size: inherit;
  background-color: #000;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
}

.panel-body {
  border: 0px;
  padding: 5px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 0px solid #ddd;
}

.panel-group .panel {
  margin-bottom: 0px;
  border-radius: 0px;
}

.panel-group .panel + .panel {
  margin-top: 0px;
}

.panel-default > .panel-heading {
  color: #ccc;
}

.panel-group {
  margin-bottom: 0px;
}

.glyphcon {
  top: 77%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative; padding: 1px;
}

a {
  color: #ccc;
}

a:link {
  color: #ccc; text-decoration: none;
}

a:visited {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

h1,.h1 {
  font-size: 3.3vw;
}

h2,.h2 {
  font-size: 3.1vw;
}

h3,.h3 {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 100;
  letter-spacing: .7vw;
  font-size: 1.7vw;
  text-align: center;
  padding-top: .7vw;
  padding-bottom: .7vw;
  font-weight: 100;
  max-width: 100%;
}

h4,.h4 {
  font-size: 21vw;
}

h5,.h5 {
  font-size: 14vw;
}

h6,.h6 {
  font-size: 12vw;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: .1vw;
  margin-bottom: .1vw;
}

p {
  font-family: sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 1;
  font-size: 1.5vw;
  padding:5%;
  margin:0px;
  background-color: #000;
}

p.padded {
  padding: 3px;
  text-align: right;
  padding-right: 21px;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}


p.footbox {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 100;
  letter-spacing: 0.5vw;
  font-size: 1.7vw;
  background-color:#000;
  padding-left:0.7vw;
  padding-right:0.7vw;
  padding-top:0.7vw;
  padding-bottom:0.7vw;
  text-align: center;
}


.lead {
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 100;
  line-height: 1.4;
  padding: 0px;
}

@media (min-width: 768px) {
  .lead {
    font-size: 18px;
  }
}

blockquote {
  padding:1px 20px;
  margin:0px;
  font-size:17.5px;
  border-left:5px solid #ccc;
}

.footicon {
  background-color:#000;
  padding-left:1vw;
  padding-right:1vw;
  padding-top:1vw;
  padding-bottom:1vw;
}

.lightbox-images {
  width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
}

.lightbox-images img {
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
  width: 22.5%;
  height: 120px;
  margin: 40px 1%;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#footer, .container {
  opacity: 0.77;
}

.lightbox-only {
  display: none;
}

.mob-lightbox {
  display: none;
}

@media only screen and (max-width: 600px) {
    .lightbox-images img {
        width: 90%;
        margin: 5% 5%;
    }

    .container h3 {
      font-size: 11px;
    }

    .email, .phone {
      font-size: 20px;
    }

    body {
      margin-bottom: 100px;
    }

    .contact {
      position: relative;
    }

    .lightbox-images {
      display: none;
    }

    .mob-lightbox {
      display: block;
    }
}
