.container {
  padding: 0px;
  width: 71%;
  background-color: #000;
  margin: 0.5% 14.5% 0px 14.5%;
}

.header {
  margin-top: 4%;
}

body {
  background-image: url("../images/background/cargo-lighting-clubnight-haze-dj.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #ccc;
  font-weight: 100;
  margin: 0px;
}

.contact p {
  background-color: transparent;
  text-align: center;
  font-size: 2em;
  color: white;
  padding: 30px;
  padding-bottom: 50px;
}

.contact .social {
  background-color: #000;
  opacity: 0.77;
  padding: 10px 0px;
}

.social img {
  padding: 0px 20px;
  width: 77px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative; padding: 1px;
}

a {
  color: #ccc;
}

a:link, a:visited {
  color: #ccc;
  text-decoration: none;
}

a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

h1,.h1 {
  font-size: 3.3vw;
}

h2,.h2 {
  font-size: 3.1vw;
}

h3,.h3 {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 100;
  letter-spacing: .7vw;
  font-size: 1.7vw;
  text-align: center;
  padding-top: .7vw;
  padding-bottom: .7vw;
  font-weight: 100;
  max-width: 100%;
}

h4,.h4 {
  font-size: 21vw;
}

h5,.h5 {
  font-size: 14vw;
}

h6,.h6 {
  font-size: 12vw;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: .1vw;
  margin-bottom: .1vw;
}

p {
  font-family: sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 1;
  font-size: 1.5vw;
  padding:5%;
  margin:0px;
  background-color: #000;
}

.lightbox-images {
  width: 95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.lightbox-images img {
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
  width: 22.5%;
  height: 150px;
  margin: 42px 1%;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#footer, .container {
  opacity: 0.77;
}

.lightbox-only, .mob-lightbox {
  display: none;
}

.tagline {
  margin-top: 1px;
}

@media only screen and (max-width: 600px) {

    .header {
      margin-top: 7vh;
    }

    .container h3 {
      font-size: 11px;
    }

    .email, .phone {
      font-size: 20px;
    }

    body {
      height: 93vh;
      margin-bottom: 0;
    }

    .lightbox-images {
      display: none;
    }

    .mob-lightbox {
      display: block;
      padding: 10px 0px;
    }

    .icon img {
      padding: 20px;
      height: 75px;
      width: 75px;
    }
}
